{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/indexstyle.css' %}" />
    <title>Notes</title>
  </head>
  <body>
    <ul>
      <li><a class="active" href="http://localhost:8000/lab-4/">Home</a></li>
      <li><a href="http://localhost:8000/lab-4/add-note">Add Notes</a></li>
      <li><a href="http://localhost:8000/lab-4/note-list">Note List</a></li>
  </ul>
    <div class="frame">
      <h1>All Notes</h1>
      <div>
        <a href="http://localhost:8000/lab-4/add-note">
          <button class="addnotes">Add Notes</button>
        </a>
        <a href="http://localhost:8000/lab-4/note-list">
          <button class="addnotes">See Notes</button>
        </a>
      </div>
        {% for i in notes %}
        <button class="accordion">From {{i.note_from}} to {{i.to}}</button>
        <div class="panel">
          <p class="title">Title</p>
          <p>{{i.title}}</p>
          <p class="title">Message<p>
          <p>{{i.message}}</p>
        </div>
        {% endfor %}
    </div>
    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;
    
      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
          } 
        });
      }
    </script>
  </body>
</html>
