{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'css/noteliststyle.css' %}" />
        <title>Note List</title>
    </head>
    <body>
        <ul>
            <li><a class="active" href="http://localhost:8000/lab-4/">Home</a></li>
            <li><a href="http://localhost:8000/lab-4/add-note">Add Notes</a></li>
            <li><a href="http://localhost:8000/lab-4/note-list">Note List</a></li>
        </ul>
        <div class="frame">
            <h1>Note List</h1>
            {% for i in notes %}
            <div class="column">
                <div class="card">To : {{i.to}}<br>
                    From : {{i.note_from}}<br>
                    Title : {{i.title}}<br>
                    Message :<br> 
                    {{i.message}}<br>
                </div>
            </div>
            {% endfor %}
            <a href="http://localhost:8000/lab-4/">
                <button class="addnotes">Back</button>
            </a>
        </div>
    </body>
</html>
