{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Add Notes</title>
</head>
<body>
    <ul>
        <li><a class="active" href="http://localhost:8000/lab-4/">Home</a></li>
        <li><a href="http://localhost:8000/lab-4/add-note">Add Notes</a></li>
        <li><a href="http://localhost:8000/lab-4/note-list">Note List</a></li>
    </ul>
    <div class="frame">
        <h1>Add Note</h1>
        <form action="" method="POST" class="all">
            {% csrf_token %}
            <div>
                <p>From</p>
                <input
                class="user"
                type="text"
                name="note_from"
                placeholder="Enter Your Name"
                >
            </div>
            <div>
                <p>To</p>
                <input
                class="user"
                type="text"
                name="to"
                placeholder="Enter Recipient's Name"
                >
            </div>
            <div>
                <p>Title</p>
                <input
                class="user"
                type="text"
                name="title"
                placeholder="Enter Title of Message"
                >
            </div>
            <div>
                <p>Message</p>
                <textarea  cols="50" rows="10" name="message" placeholder="Enter Message"></textarea>
            </div>
            <div class="button">
                <input type="submit" value="Submit" >
                <a href="http://localhost:8000/lab-4/">
                    <button type="button">Cancel</button>
                </a>
            </div>
        </form>
    </div>
</body>
</html>