<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friends</title>
    <style>
      body {font-family: Arial;}
      * {box-sizing: border-box;}

    .accordion {
      background-color: rgba(248, 48, 165, 0.281);
      color: rgb(0, 0, 0);
      cursor: pointer;
      padding: 18px;
      border: none;
      border-radius: 8px;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
      width: 50%;
    }

    .active, .accordion:hover {
      background-color: rgba(255, 0, 212, 0.281);
    }

    .panel {
      padding: 0 18px;
      max-height: 0;
      width: 50%;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      text-align: center;
      background: rgba(255, 0, 212, 0.281);
      border-radius: 6px;
    }

    .addfriend {
      padding: 10px;
      border: none;
      border-radius: 6px;
      background-color: rgb(7, 139, 58);
      color: white;
      cursor: pointer;
      width: 90px;
      margin-bottom: 10px;
    }

    .addfriend:hover {
      background-color: #14eb75;
    }

    .plane{
      position: absolute;
      top: 50px;
      width: 250px;
      z-index: -1;
      animation: fly-right 20s linear infinite;
    }

    @keyframes fly-right {
        from {
          left: -20vw;
        }
        to {
          left: 100vw;
        }
      }

    </style>
  </head>
<body style="background-image: url('https://wallpaperaccess.com/full/869.jpg');background-size: cover;background-position: center center;">
  <img src="https://raw.githubusercontent.com/gist/T-Jedsada/dbee22959762fa6c0ccad8153830b51a/raw/8957088c2e31dba6d72ce86c615cb3c7bb7f0b0c/nyan-cat.gif" class="plane">
  <p style="font-size:35px;text-align:center;margin-top: 80px;color: white; ">Friends List</p>
  <div style="display: flex; flex-direction: column; align-items: center;">
    <a href="http://localhost:8000/lab-3/add">
      <button class="addfriend">Add Friend</button>
    </a>
    <div style="display: flex; flex-direction: column; width: 90rem; align-items: center;">
      {% for i in friends %}
      <button class="accordion" style="color: white;">{{i.name}}</button>
      <div class="panel" style="margin-bottom: 8px; color: white;">
        <p>{{i.npm}}</p>
        <p>{{i.DOB}}</p>
      </div>
      {% endfor %}
      <img id="image-cat" style="margin-top: 20px;width: 16rem;"/>
      <p style="font-size: 50px;color: white;">Here's a picture of a cat!</p>

    </div>
  </div>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  }
</script>
<script>
  const image = document.getElementById("image-cat");
  image.setAttribute(
    "src",
    `https://cataas.com/cat?blablabla=${Math.floor(Math.random() * 100000)}`
  );
</script>
</body>
</html>
