<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friends</title>
  <style>
    body {font-family: Arial;}
    * {box-sizing: border-box;}


    input[type=text],input[type=date], select, textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: rgba(255, 255, 255, 0.37);
      border-radius: 6px;
      margin-top: 2px;
      margin-bottom: 2px;
    }

    input[type=submit] {
      background-color: rgb(7, 139, 58);
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 6px;
      margin-top: 10px;
      cursor: pointer;
    }
    
    button {
      background-color: rgb(139, 7, 7);
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 6px;
      margin-top: 10px;
      margin-right: 1rem;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: #14eb75;
    }

    button:hover {
      background-color: #fc4343;
    }

    .form-section{
      display: flex; 
      flex-direction: 
      column; 
      width: 25rem;
    }

    .plane{
      position: absolute;
      top: 50px;
      width: 250px;
      z-index: -1;
      animation: fly-right 20s linear infinite;
    }

    @keyframes fly-right {
        from {
          left: -20vw;
        }
        to {
          left: 100vw;
        }
      }


  </style>
</head>
<body style="background-image: url('https://wallpaperaccess.com/full/869.jpg');background-size: cover;">
  <img src="https://raw.githubusercontent.com/gist/T-Jedsada/dbee22959762fa6c0ccad8153830b51a/raw/8957088c2e31dba6d72ce86c615cb3c7bb7f0b0c/nyan-cat.gif" class="plane">
  <p style="font-size: 35px; text-align:center; margin-top: 80px;color: white;">Add Friend</p>
  <form action="" method="POST" >
  {% csrf_token %}
  <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
      <div class="form-section" style="color: white;" >
        <p>Name</p>
        <input 
          type="text" 
          name="name" 
          placeholder="Enter your friend's name">
        <p>NPM</p>
        <input 
          type="text" 
          name="npm" 
          placeholder="Enter your friend's NPM">
        <p>Date of Birth</p>
        <input 
        type="date" 
        name="DOB" >
      </div>
      <div style="display: flex; flex-direction: row-reverse;">
        <input type="submit" value="Submit" >
        <a href="http://localhost:8000/lab-3/">
          <button type="button">Cancel</button>
        </a>
      </div>
  </div>
  </form>


</body>
</html>