body{
    background-image: url("https://wallpaperaccess.com/full/2122578.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

.frame{
    display: flex; 
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    color: white;
}

h1{
    margin-top: 5%;
    text-align: center;
}

.accordion {
    background-color: rgba(248, 48, 165, 0.281);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    width: 25%;
}

.active, .accordion:hover {
    background-color: rgba(255, 0, 212, 0.281);
}

.panel {
    max-height: 0;
    width: 25%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
    background: rgba(255, 0, 212, 0.281);
    border-radius: 6px;
}

p{
    color: white;
    text-align: left;
    margin-left: 8px;
    margin-right: 8px ;
}

.title{
    text-align: center;
    font-size: large;
}

.addnotes{
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: rgb(105, 199, 141);
    color: white;
    cursor: pointer;
    width: 90px;
    margin-bottom: 10px;
}

.addnotes:hover {
    background-color: #14eb75;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(250, 250, 250, 0.308);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border-radius: 6px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.418);
}