body{
    background-image: url("https://wallpaperaccess.com/full/2122578.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-top: 5%;
    text-align: center;
}

.frame{
    display: flex; 
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    color: white;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    }
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    background-color: #f1f1f121;
    border-radius: 6px;   
}

button {
    background-color: rgb(223, 87, 87);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    margin-right: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #fc4343;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(250, 250, 250, 0.308);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border-radius: 6px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.418);
}