
body{
    background-image: url("https://wallpaperaccess.com/full/2122578.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

.frame{
    display: flex; 
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}

h1{
    color: white;
    margin-top: 5%;
}

input[type=text], select, textarea {
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.199);
    border-radius: 6px;
    width: 367px;
}

input[type=submit] {
    background-color: rgb(105, 199, 141);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
}

button {
    background-color: rgb(223, 87, 87);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    margin-right: 1rem;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #14eb75;
}

button:hover {
    background-color: #fc4343;
}

.button{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.user,select, textarea{
    color: white;
    font-family: Arial;
    padding: 10px;
    width: auto;
}

.messagebox,select, textarea{
    color: white;
    font-family: Arial;
    padding: 10px 10px;
}

p{
    color: white;
    font-size: 17px;
}

::placeholder{
    text-align: left;
    color: rgba(255, 255, 255, 0.411);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(250, 250, 250, 0.308);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border-radius: 6px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.418);
}

